<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MY Test Suite">
    <test thread-count="5" name="Test">
        <classes>

            <class name="com.SDET.Unite_Test"/>

            <class name="com.SDET.Integration_Test"/>


        </classes>
    </test> <!--Test -->

</suite> <!-- Suite -->
